<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Connexion DB -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mcompetition_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ph/axo>vJe;789</property>

        <!-- Hibernate config -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping des entités -->
        <mapping class="org.entities.User"/>
        <mapping class="org.entities.Participant"/>
        <mapping class="org.entities.Competition"/>
        <mapping class="org.entities.Resultat"/>
    </session-factory>
</hibernate-configuration>
